<div class="row container">

	<div class="swatch">
		<div class="box-one"></div>
		<div class="box-two"></div>
		<div class="box-three"></div>
		<div class="box-four"></div>
		<div class="box-five"></div>
	<!--</div>
	<div class="title-box">-->
		<h1>Take a Chance!</h1>
	</div>
	<div class="jabber-box">
		<h4>Pick a distance.</h4><h4>Press the button.</h4><h4>Try the Restaurant.</h4>
	</div>
	<p>(Here be a slider, arrrr)</p>
	<div ng-click="home.findFood()" class="button-box">
		<button >Press Me for Adventure</button>
	</div>
	
</div>
<button ng-click="home.findFood()">Click Me</button>