* {
	//background-color: #fcfae1;	
}
.container{
	width: 100%;
	height: 200%;
	background-image: url('../Images/TransparentChart2b.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


.swatch{
	width: 100%;
	margin: auto;
}

.box-one{
	width: 12%;
	height: 2em;
	background-color: #b9121b;
	float: left;
	margin-left: 20%;
	margin-bottom: 2em;
}

.box-two{
	width: 12%;
	height: 2em;
	background-color: #4c1b1b;
	float: left;
}

.box-three{
	width: 12%;
	height: 2em;
	background-color: #f6e497;
	float: left;
}

.box-four{
	width: 12%;
	height: 2em;
	background-color: #4c1b1b;
	float: left;
}

.box-five{
	width: 12%;
	height: 2em;
	background-color: #bd8d48;
	float: left;
}



h1{
	font-family: Diner;
	font-size: 7em;
	text-align: center;
	margin: .5em .4em 0 0;
	clear: left;
	color: #b9121b;
}

h4{
	font-family: Georgia;
	font-size: 2em;
	text-align: center;
	margin: .2em 0 .3em 0;
	color: #4c1b1b;
}

p{
	text-align: center;
	font-size: 2em;
	color: red;
}

.button-box{
	width: 100%;
	margin-top: 4em;
}

button{
	width: 20%;
	height: 4em;
	background-color: #f6e497;
	border-radius: .4em;
	color: #4c1b1b;;
	margin: 0 40% 0 40%;
	font-family: Georgia;
	font-size: 1.6em;
	border: 4px solid #bd8d48;
	@media only screen and (max-width: 800px){
		font-size: .8em;
}		

&:hover{
	background-color: #4c1b1b;
	color: #f6e497;
	transition: all .5s ease 0;
	//-webkit-transition-delay: .1s;
}
		
}